include LICENSE
include README.md
include requirements.txt
include config.json.example
include .env.example

recursive-include src/spotscrape/frontend/static *
recursive-include src/spotscrape/frontend/templates *

global-exclude *.pyc
global-exclude *.pyo
global-exclude *.pyd
global-exclude __pycache__
global-exclude *.so
global-exclude *.log
global-exclude .git* 